* {
    border: 0;
    box-sizing: content-box;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    vertical-align: top;
}
html {
    font: 16px/1 'Open Sans', sans-serif;
    overflow: auto;
    padding: 0.5in;
}

html {
    background: #999;
    cursor: default;
}

body {
    box-sizing: border-box;
    margin: 0 auto;
    overflow: hidden;
    padding: 0.5in;

}

body {
    background: #FFF;
    border-radius: 1px;
    box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
}
.logoHeader{
    /* display: flex;
    align-items: center; */
    /* float: right; */
    /* justify-content: space-between; */
    /* margin-bottom: 20px; */
}
.invoice{
    padding: 10px;
    border-bottom: 1px solid #c2c6ce;
}
.invoice p{
    color: gray;
}
.invoice-color{
    margin-right: 5px;
    font-weight: 700;
    color: black;
}
.header-bottom {
    margin-top: 22px;
    margin-bottom: 19px;
}
.header-bottom_left, .header-bottom_right {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.header-bottom_left p, .header-bottom_right p {
    margin-bottom: 0;
    background-color: #14213d29;
    padding: 11px 20px;
    width: 270px;
    position: relative;
    z-index: 2;
}
.header-bottom_left p {
    /* -webkit-clip-path: polygon(0 0, calc(100% - 30px) 0%, 100% 100%, 0% 100%); */
    clip-path: polygon(0 0, calc(100% - 30px) 0%, 100% 100%, 0% 100%);
}
.header-bottom_right p {
    text-align: right;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 30px 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 30px 100%);
}
.darkcolor {
    display: inline-block;
    min-height: 44px;
    height: 100%;
    width: 10px;
    background-color: #14213d;
    margin-left: 6px;
    -webkit-transform: skewX(33deg);
    -ms-transform: skewX(33deg);
    transform: skewX(33deg);
}
.flexing{
    display: flex;
    align-items: center;
}
.justify-content-end{
    justify-content: end;
}
.addresslane{
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
}
.address-left {
    border-right: none;
    border-radius: 10px 0 0 10px;
}
.address-box {
    margin-bottom: 40px;
    padding: 25px 30px;
    border: 1px solid #c2c6ce;
    /* width: 200px; */
}
.address-right {
    border-radius: 0 10px 10px 0;
}
.big{
    font-size: 18px !important;
}
.mb-5{
    margin-bottom: 20px !important;
}
.address-box address{
    margin-top: 10px;
    font-size: 16px;
    color: gray;
}
.invoice-table {
    border: none;
    margin-bottom: 20px;
}
table {
    margin: 0 0 1.5em;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #c2c6ce;
}
.invoice-table thead tr {
    border-bottom: none;
}

.invoice-table tr {
    border-bottom: 1px solid #c2c6ce;
    position: relative;
}
.invoice-table thead th:first-child, .invoice-table thead td:first-child {
    border-radius: 0;
}

.invoice-table thead th, .invoice-table thead td {
    background-color: #E1ECFF;
}
.invoice-table thead th{
    font-weight: 600;
}
.invoice-table th, .invoice-table td {
    padding: 11px 20px;
    border: none;
}
.invoice-table th {
    color: #111111;
}
.invoice_style2 .invoice-table th:nth-child(2), .invoice_style2 .invoice-table td:nth-child(2) {
    text-align: center;
}
.invoice_style2 .invoice-table th:nth-child(2), .invoice_style2 .invoice-table td:nth-child(2) {
    text-align: center;
}
.mt-4{
    margin-top: 12px;
    color: darkgray;
}
.total-table {
    border: none;
    margin-bottom: 0;
    margin-top: -4px;
}
.total-table th, .total-table td {
    border: none;
    padding: 4px 20px;
}
.total-table th, .total-table td {
    border: none;
    padding: 10px 20px;
}
.total-table tr:last-child {
    border-top: 1px solid gray;
}
.total-table th:nth-child(2), .total-table td:nth-child(2) {
    text-align: right;
}
.company-address {
    text-align: center;
    background-color: #14213d29;
    padding: 20px 30px;
    border-radius: 999px;
    margin-top: 25px;
    margin-bottom: 30px;
}
.company-address span{
    font-size: 20px;
    font-weight: 600;
}
.padding{
  margin-top: 10px;
}
.invoiceNote {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15px;
}
.note {
    display: flex;
    align-items: center;
    gap: 5px;
}
.invoice-note {
    padding-top: 0;
    padding-bottom: 0;
    border-top: none;
    border-bottom: 1px solid #14213d;
    padding-bottom: 20px;
    margin-bottom: 25px;
    margin-top: 25px;
    text-align: center;
}
